<div class="container" *ngIf="model">
    <div class="mb-3">
        <h1 class="text-truncate" [title]="model.title">
            {{model.title}}

            <select *ngIf="versions && versions.length > 0" (change)="onVersionChange($event.target.value)"
                class="form-control-sm ml-1 mr-2 border-0" style="width:75px">
                <option [value]="version" [selected]="model.version === version" *ngFor="let version of versions">
                    v{{version}}
                </option>
            </select>

            <button class="btn btn-link btn-sm" (click)="showSummary = !showSummary">
                <fa-icon icon="ellipsis-h"></fa-icon>
            </button>
        </h1>
        <div *ngIf="showSummary">
            <ngx-md [data]="model.summary"></ngx-md>
        </div>
    </div>

    <div class="alert bg-white custom-shadow rounded pt-4">
        <ul *ngIf="cloudMode" ngbNav class="nav-tabs mb-4" [activeId]="activatedRoute.url | async">
            <li ngbNavItem="overview">
                <a ngbNavLink routerLink="overview">
                    <fa-icon icon="code-branch" class="mr-1"></fa-icon>
                    Overview
                </a>
            </li>
            <li ngbNavItem="editor">
                <a ngbNavLink routerLink="editor">
                    <fa-icon icon="edit" class="mr-1"></fa-icon>
                    Editor
                </a>
            </li>
            <li ngbNavItem="instances">
                <a ngbNavLink routerLink="instances">
                    <fa-icon icon="list" class="mr-1"></fa-icon>
                    Instances
                </a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>