<div *ngIf="model">
    <!-- <pre contenteditable class="p-3 bg-dark text-white" [textContent]="model.definition"
            (input)="model=$event.target.textContent"></pre> -->

    <div *ngIf="mode === 'EDIT'">

        <div class="alert alert-info">
            Workflows are defined using YAML. For syntax details visit
            <a href="https://github.com/adhamankar/approvals-engine#overview" target="_blank">
                github documentation <fa-icon icon="external-link-alt" size="sm" class="mr-1"></fa-icon>
            </a>
        </div>

        <textarea class="form-control bg-dark text-white" (input)="setDirty()" autosize [minRows]="25" [(ngModel)]="definition"></textarea>

        <div class="alert alert-danger mt-3" *ngIf="errors"> {{errors}}</div>

        <div class="mt-3 text-right">
            <button class="btn btn-light border mr-2" (click)="reset()" [disabled]="!isDirty">
                <fa-icon icon="redo-alt" class="mr-1"></fa-icon> Reset
            </button>
            <button class="btn btn-primary" (click)="preview()" [disabled]="!isDirty">
                <fa-icon icon="eye" class="mr-1"></fa-icon> Preview
            </button>
        </div>
    </div>

    <div *ngIf="mode === 'PREVIEW'">
        <div class="alert bg-dark text-white">
            <template-preview [model]="parsed"></template-preview>
        </div>
        <div class="mt-3 text-right">
            <button class="btn btn-light border mr-2" (click)="back()">
                <fa-icon icon="angle-left" class="mr-1"></fa-icon> Back
            </button>
            <button class="btn btn-primary" (click)="save()">
                <fa-icon icon="save" class="mr-1"></fa-icon> Save
            </button>
        </div>
    </div>
</div>