<div *ngIf="model">
    <div class="card m-5" *ngIf="model.parameters">
        <div class="d-flex flex-wrap card-body">
            <div style="width: 195px;" class="mr-2 mb-2" *ngFor="let param of model.parameters">
                <small class="text-muted text-uppercase">{{param.title}}</small>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="param.value">
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-sm btn-primary mr-2" (click)="startEvaluation()">Start evaluation</button>
            <button class="btn btn-sm btn-secondary" (click)="reset()">Reset</button>
        </div>
    </div>

    <table class="table table-sm" *ngIf="currentInstance">
        <thead>
            <tr>
                <th>Parameters</th>
                <th>Current stage</th>
                <th>Next stage</th>
                <th>Completed stages</th>
                <th>Approvers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul *ngIf="currentInstance.parameters">
                        <li *ngFor="let param of currentInstance.parameters">{{param.code}}: {{param.value}}</li>
                    </ul>
                </td>
                <td>{{currentInstance.currentStage.title}}</td>
                <td>{{currentInstance.nextStage}}</td>
                <td>
                    <ul *ngIf="currentInstance.parameters">
                        <li *ngFor="let param of currentInstance.visited">{{param}}</li>
                    </ul>
                </td>
                <td>
                    <ul *ngIf="currentInstance.currentStage.approverGroups">
                        <li *ngFor="let param of currentInstance.currentStage.approverGroups">{{param}}</li>
                    </ul>
                </td>
                <td>
                    <div *ngIf="!this.currentInstance.completed">
                        <button class="btn btn-sm btn-outline-success mr-1" (click)="approve()">
                            <fa-icon icon="check"></fa-icon> Approve
                        </button>
                        <button class="btn btn-sm btn-outline-danger">
                            <fa-icon icon="times"></fa-icon> Reject
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>